node_modules
dist
target
.idea
.bak
.tmp
.sass-cache
.htaccess
.DS_Store
*sublime*
*npm-debug*
app/bower_components
app/public/lib
app/public/css
app/templates.js
app/json
*test-results.xml
*atlassian-ide-plugin.xml
