@import url("//hello.myfonts.net/count/2cf20d");


/*
 * Web Fonts
 *
 */

@font-face {font-family: 'TolyerBookno2';src: url('../fonts/2CF20D_0_0.eot');src: url('../fonts/2CF20D_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2CF20D_0_0.woff2') format('woff2'),url('../fonts/2CF20D_0_0.woff') format('woff'),url('../fonts/2CF20D_0_0.ttf') format('truetype');}
@font-face {font-family: 'TolyerLightno3';src: url('../fonts/2CF20D_1_0.eot');src: url('../fonts/2CF20D_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2CF20D_1_0.woff2') format('woff2'),url('../fonts/2CF20D_1_0.woff') format('woff'),url('../fonts/2CF20D_1_0.ttf') format('truetype');}
@font-face {font-family: 'TolyerLightno2';src: url('../fonts/2CF20D_2_0.eot');src: url('../fonts/2CF20D_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2CF20D_2_0.woff2') format('woff2'),url('../fonts/2CF20D_2_0.woff') format('woff'),url('../fonts/2CF20D_2_0.ttf') format('truetype');}
